* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.buttonHover:hover {
  opacity: 0.8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* header */
.header {
  background-color: transparent;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 90px;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
}
.header .nav > li> a {
  text-transform: capitalize;
  padding: 10px 15px;
  color: #fff;
  position: relative;

}
.header .nav > li >a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #5e95fd;
    transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .nav > li >a:hover::after {
  width: calc(100% - 10px);
}
.dropDown{
  position: relative;
}
.dropDown-menu{
  position:absolute ;
  background-color: #5e95fd;
  left: -21%;
  margin: auto;
  padding: 10px;
  top: calc(100% + 20px);
  border-radius:4px ;
  -webkit-border-radius:4px ;
  -moz-border-radius:4px ;
  -ms-border-radius:4px ;
  -o-border-radius:4px ;
  display: none;
}
.dropDown:hover .dropDown-menu{
  display: block;
}
.dropDown-menu li a {
    color:#fff

}
/* home */
.home {
  background-image: url("../imag/background1.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /70%);
}
.home .content {
  position: absolute;
  color: #fff;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.7;
}

.home .content h1 {
  font-size: 42px;
  text-transform: uppercase;
}

.home .action button {
  padding: 13px 16px;
  margin: 12px 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.home .action button:last-of-type {
  background-color: #5e95fd;
  color: #fff;
}
