* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.buttonHover:hover {
  opacity: 0.8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.section-header {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.section-header h2 {
  font-size: 32px;
  text-transform: capitalize;
}
.section-header::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 120px;
  height: 3px;
  background-color: #5e95fd;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* header */
.header {
  background-color: transparent;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 90px;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
}
.header .nav > li > a {
  text-transform: capitalize;
  padding: 10px 15px;
  color: #fff;
  position: relative;
}
.header .nav > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #5e95fd;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .nav > li > a:hover::after {
  width: calc(100% - 10px);
}
.dropDown {
  position: relative;
}
.dropDown-menu {
  position: absolute;
  background-color: #5e95fd;
  left: -21%;
  margin: auto;
  padding: 10px;
  top: calc(100% + 20px);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: none;
}
.dropDown:hover .dropDown-menu {
  display: block;
}
.dropDown-menu li a {
  color: #fff;
}
/* home */
.home {
  background-image: url("../imag/background1.jpg");
  background-position: center;
  height: 100vh;
  position: relative;
  background-size: cover;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /70%);
}
.home .content {
  position: absolute;
  color: #fff;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.7;
}

.home .content h1 {
  font-size: 42px;
  text-transform: uppercase;
}

.home .action button {
  padding: 13px 16px;
  margin: 12px 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.home .action button:last-of-type {
  background-color: #5e95fd;
  color: #fff;
}

/* section webiste */
.website {
  padding: 20px 0;
  margin: 30px;
}

.website .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.website .card {
  padding: 15px;
  border: 1px solid gray;
  margin: 10px;
  position: relative;
}
.website .card::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: rgb(0 0 0 /30%);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.website .card:hover::after {
  width: 100%;
}
.website .card i {
  color: #5e95fd;
  margin: 10px 0;
  display: block;
  font-size: 22px;
}
.website .card h3 {
  text-transform: capitalize;
  margin: 10px 0;
}
.website .card p {
  line-height: 1.7;
  margin-bottom: 12px;
}
.website .card a {
  color: #5e95fd;
  text-transform: capitalize;
}

/* portfolio */
.portfolio .cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio .card {
  padding: 15px;
  text-align: center;
  position: relative;
  width: 30%;
  margin: 10px 12px;
}
.portfolio .card::before {
  content: "";
  position: absolute;
  background-color: rgb(0 0 0 /70%);
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}
.portfolio .card:hover::before {
  width: 100%;
  height: 100%;
}
.portfolio .card img {
  width: 100%;
}

.portfolio .card .card-items {
  position: relative;
}
.portfolio .card .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}
.portfolio .card:hover .caption {
  visibility: visible;
  opacity: 1;
}
.portfolio .caption a,
.portfolio .caption p {
  font-size: 22px;
  color: #fff;
}
.portfolio .caption i {
  background-color: #5e95fd;
  padding: 12px;
  margin-top: 12px;
}

/* offer */
.offer {
  padding: 20px;
  margin-top: 20px;
}
.offer .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}
.offer .cards .card {
  border: 1px solid gray;
  padding: 14px;
  margin: 10px 18px;
  display: flex;
  flex-direction: column;
  width: calc((100% / 3) - 36px);
  position: relative;
}

.offer .cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(0 0 0 /30%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.offer .cards .card:hover:before {
  width: 100%;
}
.offer .cards .card i {
  margin-right: 12px;
  font-size: 22px;
  color: #5e95fd;
  margin-top: 12px;
}
.offer .cards .card h3 {
  margin-bottom: 18px;
}

/* about section */
.about {
  padding: 20px;
  margin-top: 30px;
  background-color: #f9f9f9;
}
.about .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .content {
  text-align: left;
  width: 48%;
  line-height: 1.7;
}
.about .about-header h3 {
  position: relative;
  font-size: 33px;
  margin-bottom: 20px;
}

.about .about-header h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 22px;
  height: 3px;
  background-color: #5e95fd;
}
.about .about-header ul {
  margin-top: 20px;
}
.about .about-header ul li {
  margin-bottom: 12px;
}
.about .about-header ul li i {
  border: 1px solid #5e95fd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 8px;
}
.about .img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
  width: 50%;
}
.about .img img {
  width: 100%;
  display: block;
  height: auto;
}

/* numbers */
.numbers {
  margin-top: 33px;
  padding: 100px;
  background-image: url("../imag/background2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 250px;
}
.numbers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /30%);
}
.numbers .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  text-align: center;
  position: relative;
}
.numbers .items .item i,
.numbers .item p,
.numbers .item span {
  color: #fff;
  font-size: 25px;
  margin-bottom: 8px;
}
.numbers .item p {
  color: #fff;
  font-size: 22px;
}
.numbers .items .item i {
  color: #5e95fd;
}

/* start pricing paln */
.pricing {
  margin: 70px;
  padding: 100px;
}
.pricing .pricingPlans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .pricingPlans .pricingItems {
  border: 1px solid gray;
  padding: 12px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: calc(100% / 3);
  margin: 0 12px;
}
.pricing .pricingItems span {
  font-size: 22px;
  margin: 12px 0;
  display: block;
}
.pricing .pricingItems .peringMonth {
  border: 1px solid #5e95fd;
  padding: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 18px;
}
.pricing .pricingItems .peringMonth span {
  font-size: 22px;
  font-weight: bold;
}
.pricing .pricingItems ul li {
  margin: 20px 0;
}
.pricing .pricingItems button {
  padding: 14px 16px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-transform: capitalize;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.pricing .pricingItems button:hover {
  background-color: #5e95fd;
  color: #fff;
  cursor: pointer;
}

/* end pricing plan */
